{% extends 'navbase.html' %}

{% block title %}STAFF: SeasonPass results{% endblock %}

{% block bodybase %}

    <div class="text-center" style="background-color: lightgray">
        <h1><strong><u>SEASON PASS RESULTS:</u></strong></h1><br>
        <a href="{% url 'waterpark:staff-search-seasonpass-for-user' %}"><button type="button" class="btn btn-info">Back</button></a>
        </div>
    <div class="container p-3 my-3 bg-dark text-white">
    {% for seasonpass in seasonpass_list %}
        <br>
        <div class="container p-3 my-3 border">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
                <th scope="col"><strong>SEASON PASS FIELDS</strong></th>
              <th scope="col"><strong>INFO</strong></th>
            </tr>
          </thead>
        <tbody>
            <tr>
            <th scope="row">CUSTOMER USERNAME:</th>
             <td>{{ seasonpass.customer.get_username }}</td>
            </tr>
            <tr>
            <th scope="row">CUSTOMER BIRTHDAY:</th>
             <td>{{ seasonpass.customer.birth_date }}</td>
            </tr>
            <tr>
            <th scope="row">CUSTOMER GENDER:</th>
             <td>{{ seasonpass.customer.gender }}</td>
            </tr>
            <tr>
            <th scope="row">CUSTOMER EMAIL:</th>
             <td>{{ seasonpass.customer.email }}</td>
            </tr>
            {% if seasonpass.customer.first_name %}
                <tr>
                <th scope="row">CUSTOMER FIRST NAME:</th>
                <td>{{ seasonpass.customer.first_name }}</td>
                </tr>
            {% endif %}
            {% if seasonpass.customer.last_name %}
                <tr>
                <th scope="row">CUSTOMER LAST NAME:</th>
                <td>{{ seasonpass.customer.last_name }}</td>
                </tr>
            {% endif %}
            <tr>
            <th scope="row">SEASON PASS PHOTO:</th>
             <td><img src="/media/{{ MEDIA_URL }}{{ seasonpass.seasonpass_photo }}" alt="propic" class="img-thumbnail"></td>
            </tr>
            <tr>
            <th scope="row">SEASON PASS ID:</th>
             <td>{{ seasonpass.seasonpass_slug }}</td>
            </tr>
            <tr>
            <th scope="row">DATE OF PURCHASE:</th>
             <td>{{ seasonpass.date_of_purchase }}</td>
            </tr>
            <tr>
            <th scope="row">PRICE:</th>
             <td>${{ seasonpass.cost }}</td>
            </tr>
            <tr>
            <th scope="row">VALIDITY FROM:</th>
             <td>{{ seasonpass.validity_from }}</td>
            </tr>
            <tr>
            <th scope="row">VALIDITY TO:</th>
             <td>{{ seasonpass.validity_to }}</td>
            </tr>
         </tbody>
        </table>
        </div>
        <br>
    {% empty %}
        <div class="text-center">
            <h1><strong><u>NO SEASON FOUND</u></strong></h1>
        </div>
    {% endfor %}
    </div>


    <div class="container p-3 my-3 border" style="background-color: lightgray">
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.nameform %}&nameform={{ request.GET.nameform }}{% endif %}">&laquo; <button type="button" class="btn btn-info">First</button></a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.nameform %}&nameform={{ request.GET.nameform }}{% endif %}"><button type="button" class="btn btn-primary">Previous</button></a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.nameform %}&nameform={{ request.GET.nameform }}{% endif %}"><button type="button" class="btn btn-primary">Next</button></a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.nameform %}&nameform={{ request.GET.nameform }}{% endif %}"><button type="button" class="btn btn-info">Last</button> &raquo;</a>
            {% endif %}
        </span>
        </div>
    </div>

{% endblock %}