{% extends 'navbase.html' %}
{% load crispy_forms_filters %}

{% block title %}Profile: {{ user.username }}, update email{% endblock %}

{% block bodybase %}

    <div class="container p-3 my-3 bg-dark text-white">
        <h1 class="display-4">UPDATE EMAIL:</h1>
        <p>CURRENT FIRST NAME: {{ user.email }}</p>
        <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'userpark:user-profile' %}"> <button type="button" class="btn btn-primary">Back</button> </a>
        </form>
    </div>
    <br>

{% endblock %}