{% extends 'navbase.html' %}
{% load static %}

{% block title %}WaterLand, about us{% endblock %}

{% block bodybase %}

    <div class="container pt-3">
        <h2 style="color: darkslategray"><u>About Us</u></h2>
        <p class="h4" style="color: darkslategray; text-align: justify">{% lorem %}</p>
    </div><br>

    <div class="container p-3 my-3 border">
        <h2 style="color: darkslategray"><u>AVAILABLE CONTACTS</u></h2><br>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><img src="{% static 'img/mailicon_30.png' %}" alt="mail"></th>
              <td><p class="h4" style="color: darkslategray">E-mail: <br> waterland@waterpark.com</p></td>
            </tr>
            <tr>
              <th scope="row"><img src="{% static 'img/tel_20.png' %}" alt="phone"></th>
              <td><p class="h4" style="color: darkslategray">Phone: <br> +44325****410</p></td>
            </tr>
          </tbody>
        </table>
    </div>

{% endblock %}