{% extends 'navbase.html' %}
{% load static %}

{% block title %}WaterLand, about the acquapark{% endblock %}

{% block bodybase %}
    <br>
    <div class="text-center">
        <img src="{% static 'img/favicon.ico' %}" alt="favicon">
    </div>
    <br>
    <div class="container-sm border" style="text-align: justify">
        <h2><img src="{% static 'img/logo.png' %}" alt="logo"> <br> <small class="text-muted"><u>(History of the acquapark)</u></small></h2>
        <p class="h4" style="color: darkslategray">{% lorem %}</p>
    </div>
    <div class="text-center">
        <img src="{% static 'img/separator_text.png' %}" alt="separator">
    </div>
    <br>
    <div class="container-sm border" style="text-align: justify">
        <h2><img src="{% static 'img/logo.png' %}" alt="logo"> <br> <small class="text-muted"><u>(Our swimming pools)</u></small></h2>
        <p class="h4" style="color: darkslategray">{% lorem %}</p>
    </div>
    <div class="text-center">
        <img src="{% static 'img/separator_text.png' %}" alt="separator">
    </div>
    <br>
    <div class="container-sm border" style="text-align: justify">
        <h2><img src="{% static 'img/logo.png' %}" alt="logo"> <br> <small class="text-muted"><u>(Daily tickets, SeasonPass and price)</u></small></h2>
        <p class="h4" style="color: darkslategray">You can buy a daily ticket or enjoy all the year here with us with the season pass, when you buy a season pass it shall be used for all the current year, about daily ticket you need to choose a date.<br><br>Daily ticket price: $15<br>Season pass price: $125</p>
    </div>
    <div class="text-center">
        <img src="{% static 'img/separator_text.png' %}" alt="separator">
    </div>
    <br>
    <div class="container-sm border" style="text-align: justify">
        <h2><img src="{% static 'img/logo.png' %}" alt="logo"> <br> <small class="text-muted"><u>(Opening times)</u></small></h2>
        <p class="h4" style="color: darkslategray">We are open all days<br><br>-From 8.00am-<br>-Until 18.00pm-<br><br>In the summer we are open until 20.00pm</p>
    </div>
    <div class="text-center">
        <img src="{% static 'img/separator_text.png' %}" alt="separator">
    </div>
    <br>
    <div class="container-sm border" style="text-align: justify">
        <h2><img src="{% static 'img/logo.png' %}" alt="logo"> <br> <small class="text-muted"><u>(How to find us)</u></small></h2>
        <p class="h4" style="color: darkslategray">{% lorem %}</p>
    </div>
    <br>
    <div class="text-center">
        <img src="{% static 'img/favicon.ico' %}" alt="favicon">
    </div>
    <br>

{% endblock %}